#body {
    /* background-color:	rgb(56,56,56); */
    background-color: 	rgb(80,80,80);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* PHẦN MENU + LOGO */
#logoNavbar1 {
    background-color: brown !important;
}
#listNavbar1 li a {
    color: #f4f4f4 !important;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 20px;
    font-size: 15px;
}
#listNavbar1 li a:hover {
    color: rgb(37, 78, 78) !important;
}

#menu {
    padding-right: 80px;
}
#search {
    color: white;
    padding-left: 80px;
    
}

.dropdown {
    position: relative;
    display:inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    background-color:	rgb(88,88,88);
    color:darkseagreen;
    padding: 10px 10px;
}
/* HẾT NAVBAR1 */

/* MENU 2 */
#phanmenu2 {
    background-color: rgb(113, 143, 60) !important;
}
#listNavbar2 li a {
    color: #f4f4f4 !important;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;

}
#listNavbar2 li a:hover {
    color: brown !important;
}

#listNavbar3 li a {
    color: #f4f4f4 !important;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;

}
#listNavbar3 li a:hover {
    color: brown !important;
}
/* HẾT MENU 2 */


/* PHẦN FOOTER */
#footer {
    background-color: rgb(37, 35, 35);
    height: auto;
}

#icon a{
    color: silver;
    font-size: 13px;
}

#footer-logo,
#about {
    border-right: 1px solid #444;
    font-size: 13px;
}

#about {
    color:silver;
}
#FAMOUS {
    color: rgb(218, 216, 216);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
#copyright {
    color: #aaaaaa;
    font-size: 10px;
    letter-spacing: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
 /* HẾT FOOTER */

/* MẠNG XÃ HỘI */
#listMangxahoi {
    font-size: 11px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', arial, sans-serif;
    font-weight:bold;
}
#facebook {
    align-items: center;
    height: 32px;
    background-color: #3578E5;
}
#youtube {
    background-color: #FF4500;
    height: 32px;
    align-items: center;
}
#instagram {
    background-color:	rgb(80,80,80);
    height: 32px;
    align-items: center;
}
#listMangxahoi a {
    color: #fff;
}
#sub {
    border-right: 1px solid silver;
    border-left: 1px solid silver;
}

/* HẾT PHẦN MẠNG XÃ HỘI */

#carousel {
    height: 300px;
    width: 100%;
}

#phanmoinhat {
    height: auto;
    width: auto;
}

#tinhot,
#moinhat1,
#mobile,
#danhmuc,
#danhgia {
    font-size: 14px;
    font-weight:bold;
    letter-spacing: 0.5px;
    height:auto;
}

#mangxahoi,
#baivietxemnhieu {
    font-size: 17px;
    font-weight:bold;
    font-family: sans-serif;
    margin-bottom: 4px;
    
}

#hr2 {
    border-bottom: 2px solid gold;
}

.hr-ngang {
    background-color: silver;
    height: 2px;
}


.hr-moinhat {
    background-color:  gold;
    height: 4px;
    margin-right: 22px;
    margin-top:31px ;
}

#danhmuc {
    margin-bottom: 10px;

}

#danhmuc a {
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

#danhmuc a:hover {
    color: brown !important;
}


#cotdanhgia,
#cotkhampha {
    margin-top: 2px;
    margin-bottom: 10px;
    
}

/* PHẦN MỚI NHẤT */

#image {
    height: 150px;
    width: 200px;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    border: 2px solid  white;
    padding: 2px;
}

#image_ngang {
    height: 100px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    border: 2px solid white;
    padding: 2px;
}

#dau3cham {
    width: 210px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /* dùng để đổi text thành dấu 3 chấm */
}

#image_carousel {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    border: 2px solid  white;
    padding: 2px;
}

#title_carousel {
    width: 580px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #FF4500;
    font-weight:bold;
}

#thoigian {
    color: #FF4500;
    font-size: 11px;
    letter-spacing: 1px;
}
#de {
    color: gold;
    font-size: 11px;
    letter-spacing: 0.5px;
}

#tindanhgia {
    width: 260px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /* margin-bottom:5px;
    border-bottom: 2px solid  white; */
}

#hrdanhgia {
    background-color: silver;
    height: 2px;
}

#titleposts {
    width: 595px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: white;
    font-weight: bold;
    font-size: 19px;
}

#titleposts:hover {
    color: rgb(97, 238, 238) !important;
    
}

#titledes {
    width: 595px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    
}

#phantrang {
    color: #aaaaaa;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

/* TRANG XEM CHI TIẾT */
#show {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid darkgrey;
    background-color: white;
    color: gray;
}

#button_share {
    background-color: #3578E5;
   
    font-size: 11px;
    font-weight: bold;
    color: white;
}

#button_like {
    background-color: red;
    font-size: 11px;
    font-weight: bold;
    color: white;
    margin-right: 7px;
}