
.dropbtn {
    background-color:black;
    color: white;
    padding: 17px;

    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: darkseagreen;
  }


#anh-1 {
    height: 300px;
    width: 100%;
    background-image: url('hinh1.jpg');
    background-size: cover;
    background-position: center;  /*vi tri cua anh*/
    background-origin: content-box;
    border-style: none;
}  

#anh-2 {
    height:300px;
    width: 100%;
    background-image: url('hinh2.jpg');
    background-size: cover;
    background-position: center;  /*vi tri cua anh*/
    background-origin: content-box;
}  

#anh-3 {
    height: 300px;
    width: 100%;
    background-image: url('hinh3.jpg');
    background-size: cover;
    background-position: center;  /*vi tri cua anh*/
    background-origin: content-box;
}  